
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode";
}


#contenedor {
  width: 100%;
  background-color: rgb(241, 238, 238);
  margin: 0 auto;
}

#imagenes-fondo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  
}


#encabezado {
  background-color: #00293e;
  padding: 20px;
  display:flex ;

}

#logo img {
  height: 100px;
  width: 100px;
  display: flex;

}

/* Menu */

#navegacion {
  background-color: #00293e;
}

#navegacion a {
  display: block;
  float: left;
  color: #e08d12;
  ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#navegacion a:hover {
  background-color: #ddd;
  color: black;
}

#chuchi {
  display: flex;
  list-style: none;
  padding: 18px;

}

#chuchi ul li {
  float: left;
  margin: 10px;
  list-style: none;
}

/* Hamburger */

.abrir-menu, .cerrar-menu {
  display: none;
}

/* Cambio en el modo movil */

@media screen and (max-width: 1016px) {
  .abrir-menu, .cerrar-menu {
    display: block;
    border: 0;
    font-size: 4.5rem;
    background-color: transparent;
    cursor: pointer;
    color: #e08d12;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 85%;
    background-color: #00293e;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax  rgb(0, 0, 0, .5);
  }


  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  
  #chuchi{
    flex-direction: column;
    align-items: end;
    background-color: #00293e;
  }
}

/* Hero panel del index */

.hero {
  background: url('img/hero1.jpg') center/cover no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 52px;
  color: #00293e;
  
}


#contenido {
  padding: 20px;
}


#contenido section {
  margin-bottom: 20px;
}


#noticias ul {
  list-style: none;
}


#noticias li {
  background-color: #00293e;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 50px;
  color: white;
}

#noticias ul li:hover{
  transform: scale(1.05);
  transition: 0.5s;  
}



#contacto ul {
  list-style: none;
}


#contacto li {
  margin-bottom: 10px;
}


#contacto a {
  color: blue;
  text-decoration: none;
}


#contacto a:hover {
  color: red;
  text-decoration: underline;
}


#formulario {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}


.campo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.campo label {
  width: 20%;
  font-weight: bold;
}


.campo input {
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
}


.campo textarea {
  width: 80%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
}


.campo button {
  width: 20%;
  border: none;
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
}


.campo button:hover {
  background-color: #ddd;
  color: black;
}



/* ACERCA DE  */


.separaciones{
  
  padding: 60px;
}

#acerca ul {
  list-style: none;
}


#acerca li {
  margin-bottom: 10px;
}


/*Ayudar*/

#ayudar ul {
  list-style: none;
}

#ayudar li {
  background-color: #00293e;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 50px;
  color: white;
}

#ayudar ul li:hover{
  transform: scale(1.05);
  transition: 0.5s;  
}

#fotoAyudar{
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

}

/* Programas */
#contenido {
  
  border: groove 5px #CD9758;
  box-shadow: 3px 3px 5px #777;


}

#planes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#programas {
  display: flex;
  max-width: 1024px;
  padding: 0.5rem;
  background-color: #00293e;
  border: groove 5px #CD9758;
  box-shadow: 3px 3px 5px #777;
  margin: 2.0rem;
  padding: 1.5rem;
  font-size: 20px;
  text-align: justify;
  color: white;
}
#programas div{
  padding: 0.5rem;
}
#programas div h3{
  text-align: left;
  font-size: 35px;
  color: white;
  margin-bottom: 10px;
  border-bottom: 3px solid #777;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#contenido h2 {
  text-align: center;
  font-size: 45px;
  color: black;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: groove 5px #CD9758;
  box-shadow: 3px #777;
  margin: 20px;
  padding-bottom: 5px;
}

#programas:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* BLOG*/

#blog {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blog h2 {
  text-align: center;
  font-size: 36px;
  color: #000000;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

#blog h2:hover {
  color: rgb(0, 0, 0);
}

#blog p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  transition: font-size 0.3s;
}

#blog p:hover {
  font-size: 20px;
}

#blog ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#blog li {
  width: 30%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: opacity 0.3s;
}

#blog li:hover {
  opacity: 0.8;
}

#blog h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#blog li p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

#blog a {
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

#blog a:hover {
  color: #fff;
  text-decoration: underline;
}

#blog ul {
  list-style: none;
}

#blog li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

#blog a {
  color: rgb(43, 43, 237);
  text-decoration: none;
}

#blog a:hover {
  color: rgb(0, 170, 255)(0, 34, 255);
  text-decoration: underline;
}


/* GALERIA */

#rejilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.imagen {
  background-color: #00293e;
  border: 1px solid #ccc;
  padding: 10px;
  color: white;
}

.imagen img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* PREGUNTAS FRECUENTES*/

#faq ul {
  list-style: none;
}

#faq li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

#faq li {
  background-color: #00293e;
}

#faq li {
  color: #fff;
}

#faq li {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#faq img {
  width: 50%;
  height: 50%;
}

#faq img {
  width: 40%;
  height: 40%;
}

/* EVENTOS */

#eventos {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#eventos h2 {
  text-align: center;
  font-size: 36px;
  color: #000000;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#eventos p {
  font-size: 18px;
  color: #929191;
  margin-bottom: 20px;
  transition: color 0.3s;
}

#eventos p:hover {
  color: rgb(0, 0, 0);
}

#eventos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#eventos li {
  width: 30%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s;
}

#eventos h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#eventos li p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

#eventos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#eventos li:hover {
  transform: scale(1.1);
}

/* DONACIONES */

#formulario {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.campo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.campo label {
  width: 20%;
  font-weight: bold;
}

.campo input {
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
}

.campo select {
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
}

.campo button {
  width: 20%;
  border: none;
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.campo button:hover {
  background-color: #ddd;
  color: black;
}

/* footer */

footer{
  background-color: #00293e;
  color: #e08d12;
  text-align: center;
  font-family: Big Shoulders Display;
  vertical-align: center;
}

.arriba{
  display: flex;
  justify-content: space-between;
}

footer ul li {

  display: inline-block;
  vertical-align: middle;
}
.izquierda ul li{
  padding-right: 46px;
  display: inline-block;
}
.derechos{
  display: flex;
  text-align: center; 
  align-items: center;
  vertical-align: center;
  font-size: 20px;
}